#totalCount {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    align-content: center;
    width: 100%;
}

#india-table {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-collapse: collapse;
    /* border: 1px solid wheat; */
    font-weight: lighter;
}


/* th, td {border-bottom: 1px solid #ddd;} */

th {
    background-color: lightgrey;
    color: black;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.india-map-container {
    display: flex;
    margin: 10px;
    height: 100vh;
}