.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    padding: 50px;
    height: 100%;
}

.text-center {
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.flex-container>div {
    background-color: powderblue;
    color: rebeccapurple;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

#backToTopButton {
    display: inline-block;
    background-color: #0090e4;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
}

#backToTopButton:hover {
    background-color: #5db4e7;
    cursor: pointer;
}

#backToTopButton::after {
    content: "^";
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}